<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Parking Lot</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <h1>Welcome to parking lot!!!!!!</h1>
    <form action="/" method="post">
      <label for="action">Please enter 'park', 'exit', 'history' for parking, exiting or getting parking history respectively!!!!</label>
      <input type="text" name="action">
      <button type="submit" name="park">Continue!!!</button>
    </form>

  </body>
</html>
